<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <base id="base" href="/" target="_self" />
        <title>eArc{% block title %} &ndash; the explicit architecture framework{% endblock title %}</title>
        {% endblock head %}
    </head>
    <body>
        {% block content %}
        <h1>eArc &ndash; welcome to the explicit architecture framework</h1>
        {% endblock content %}
    </body>
</html>
