<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <base id="base" href="/" target="_self" />
        <title>{% block title %}eArc &ndash; the explicit architecture framework{% endblock title %}</title>
        {% endblock head %}
    </head>
    <body>
        {% block content %}
        <h1>eArc &ndash; welcome to the explicit architecture framework <3</h1>
        <p>Fell the freedom of good architecture!</p>
        <p>If you have any questions consult the <a
                href="https://github.com/Koudela/eArc-minimal">README</a> please.</p>
        {% endblock content %}
    </body>
</html>
